.navbar-brand{
	font-size: 23px;
}

.box{
	position: relative;
	top: 30px;
}

section.banner{
	padding: 210px 0;
	position: relative;
	min-height: 400px;
	background-image: url('../images/bg.jpg');
	width: 100%;
	background-size: cover;
	background-position: center;
}

section.depoimento h2{
	color: #4b4b4b;
}

section.depoimento blockquote{
	color: #4b4b4b;
	font-size: 15px;
}

section.banner > .container {
	position: relative;
	z-index: 2;
}

.overlay{
	z-index: 1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	background: rgba(15,15,15,0.5);
}

.chamada-banner {
	color: #26a599;
	font-size: 50px;
}

.chamada-banner p {
	margin: 24px 0;
	color: white;
	font-size: 21px;
}

.chamada-banner a {
	display: inline-block;
	color: white;
	font-size: 19px;
	padding: 10px 18px;
	background: #26a69a;
}

section.cadastro-lead{
	background: #26a69a;
	padding: 20px 0;
}


section.cadastro-lead h2{
	color: white;
	font-size: 24px;
	vertical-align: middle;
}

section.cadastro-lead form{
	position: relative;
	top: 10px;
}


section.cadastro-lead input[type=text]{
	width: 85%;
	padding-left: 8px;
	height: 40px;
	border: 1px solid #ccc;
	vertical-align: middle;
	border: 1px solid #ccc;
}


section.cadastro-lead input[type=submit]{
	width: 15%;
	height: 40px;
	border: 1px solid #ccc;
	vertical-align: middle;
}

section.depoimento{
	padding: 40px 0;
}

.diferenciais-container{
	margin-top: 30px;
}

.diferenciais-container h3{
	color: #26a69a;
}

section.diferenciais > h2 {
	color: #4b4b4b;
}

section.diferenciais h2 {
	font-size: 22px;
}


section.diferenciais{
	padding: 20px 0;
	background: rgb(225,225,225);
}

section.equipe h2{
	background: #26a69a;
	text-align: center;
	padding: 10px 2%;
	color: white;
	margin: 0;
}

.equipe-container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.user-picture-child{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	border-radius: 50%;
}

.equipe-single{
	margin-bottom: 15px;
	width: 100%;
	padding: 20px 10px;
	border: 1px solid #ccc;
	box-shadow: 8px 7px 5px -3px rgba(20 , 20 , 20 , 0.6);
}


.user-picture{
	width: 100%;
	padding-top: 100%;
	position: relative;
	left: 50%;
	transform: translate(-50%, -0%);
}

.last-section {
	padding: 30px 0;
	color: #4b4b4b;
	border-top: 2px solid #ccc;
}

section.last-section textarea{
	height: 120px;
}

section.last-section h2{
	margin: 20px 0;
	font-size: 26px;
}

footer{
	background: rgb(225,225,225);
	padding: 20px 0;
}

footer p{
	margin: 0;
}

@media screen and (max-width: 1024px){
	.user-picture{
		width: 40%;
		padding-top: 40%;
		position: relative;
	}
	section.cadastro-lead form{
		position: relative;
		top: 10px;
	}
}

@media screen and (max-width: 500px){
	.chamada-banner h2{
		color: #26a599;
		font-size: 35px;
	}

	section.cadastro-lead input[type=submit]{
		width: 200px;
		margin-top: 8px;
		display: inline-block;
	}
}

